<div class="container">
  <div class="heading">
    <h1>List Of Products</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr No.</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of productsArr, let i = index  ">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
      </tr>
    </tbody>
  </table>
</div>