/* tours-list.component.css */

.form-container {
    max-width: 400px;
    margin: 0 auto;
}
.container{
    background: white;
    border-radius: 2px;
}

.form-group {
    margin-bottom: 20px;
}


button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}